.navbar-customer {
  background-color: #525050;
  padding: 10px 0;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.navbar-links {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  margin: 0 10px;
}

.navbar-links a {
  display: inline-block;
  padding: 8px 16px;
  border: 1px solid #525050;
  border-radius: 20px;
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  transition: background-color 0.3s, color 0.3s;
}

.navbar-links a:hover {
  background-color: #9c9c9c;
}

.navbar-links a.active {
  background-color: #030303;
  color: #fff;
  border-color: #4e4d4d;
}
